<div class="container-fluid content">
    <div class="row">
      <div class="col-sm-6">
        <mat-card class="example-card" style="max-width: 100%; height: 400px" >           
          <app-tile-grid-one></app-tile-grid-one>            
        </mat-card>
      </div>
      <div class="col-sm-6">
          <mat-card class="example-card" style="max-width: 100%; height: 400px" >           
              <app-tile-grid-two></app-tile-grid-two>            
            </mat-card>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <mat-card class="example-card" style="max-width: 100%; height: 400px" >           
          <app-tile-grid-three></app-tile-grid-three>            
        </mat-card>
      </div>
      <div class="col-sm-6">
          <mat-card class="example-card" style="max-width: 100%; height: 400px" >           
              <!-- <app-tile-grid-four></app-tile-grid-four>             -->
              <app-patient-appointment style="width:100%"></app-patient-appointment>
            </mat-card>
      </div>
    </div>
  </div>