<!-- <mat-card class="example-card" style="max-width: 100%; height: 400px" >
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
<!-- <app-tile-grid-one></app-tile-grid-one> -->
<!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
<!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
<!--</mat-card> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Your Profile</h4>
          </div>
          <br/>
          <div class="card-body">
            <form>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <br />
              <br />
              <h4 class="card-title">Alec Thompson</h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-body">
            <form>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Fist Name" type="text" value="{{userId | async}}">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" type="text">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Adress" type="text">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <input matInput placeholder="City" type="text">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country" type="text">
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Postal Code" type="text">
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>